// My Colours
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiarty-light: #2998ff;
$color-tertiarty-dark: #5643fa;

$colour-grey-light-1: #f7f7f7f7;
$colour-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font sizes
$default-font-size: 1.6rem;

// My grid
$grid-width: 144rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;
