.section-about {
  // background-color: $colour-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(6deg);
  }
}

.section-tours {
  // background-color: $colour-grey-light-1;
  padding: 10rem 0 10rem 0;
  margin-top: 10rem;
}

.section-stories {
  padding: 5rem 0;
  padding-bottom: 25rem;
  // background-color: $colour-grey-light-1;
}
